// you can change colors here
$theme-color: #a95050;
// 其余放置在config.scss中
// $theme-color: #787878; // 灰
// $theme-color: #6495ED; // 蓝
// $theme-color: #cfa350; // 土黄
// $theme-color: #ff7606; // 橙
// $theme-color: #3eaf7c; // 绿



$font-family: '"Comic Neue", "Noto Sans SC", serif';
$font-family-heading: '"Comic Neue", "Noto Sans SC", serif';


// $content-width: 850px;      // 页面内容宽度
// $home-page-width: 1160px;   // 主页内容宽度 参考链接：https://theme-hope.vuejs.press/zh/config/style.html
// $sidebar-width: 18rem;      // 侧边栏宽度